<%- partial('partial/head') %>
<%- partial('partial/header') %>

<main id="main-content">
  <div class="tags-container">
    <h1 class="page-title kinetic-title" data-i18n="search.title"><%= __('search.title') %></h1>
    <p class="search-empty">
      <span data-i18n="tags.moved"><%= __('tags.moved') %></span>
      <a href="<%= url_for('/search/') %>" data-i18n="tags.go_search"><%= __('tags.go_search') %></a>
    </p>
  </div>
</main>

<script>
  window.location.replace(<%- JSON.stringify(url_for('/search/')) %>);
</script>

<%- partial('partial/footer') %>
